<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>커뮤니티 게시판</title>
        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Lucide Icons -->
        <script src="https://unpkg.com/lucide@latest"></script>
    </head>
    
    <body>
        <!-- 네비게이션 -->
        <div th:replace="~{/layout/nav :: default-nav(${user})}"></div>
        
        <!-- 게시판 배너 -->
        <img src="/assets/community-banner.svg"
             alt="커뮤니티 게시판"
             style="width: 100%; max-height: 300px; min-height: 200px"/>
        
        <!-- 게시판 페이지 본문 -->
        <div class="container"
             th:with="posts=${communityPostListViewModel.posts},
                         page=${communityPostListViewModel.page},
                         categories=${communityPostListViewModel.categories}">
            <div class="row">
                <div class="col-lg-8">
                    <!-- 게시글 리스트 -->
                    <div th:if="${#lists.isEmpty(posts)}">
                        
                        <!-- 게시글이 없는 경우: 게시글 작성 메시지를 보여줌 -->
                        <div class="card text-center my-5">
                            <div class="card-body">
                                <h5 class="card-title">
                                    게시글이 없습니다
                                </h5>
                                <p class="card-text">
                                    첫 번째 글을 작성해보세요!
                                </p>
                                <a th:href="@{/community/createForm}"
                                   class="btn btn-primary">
                                    글 작성하기
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 게시글이 있는 경우: 게시글 작성 버튼을 보여줌 -->
                    <div th:if="${!#lists.isEmpty(posts)}"
                         class="mb-4 d-flex justify-content-end">
                        <a class="btn btn-primary"
                           th:href="@{/community/createForm}">
                            <i class="bi bi-pencil-square">
                            </i>
                            게시글 작성하기
                        </a>
                    </div>
                    
                    <!-- 게시글이 있는 경우: 게시글 리스트를 보여줌 -->
                    <div class="card mb-4 card-hover"
                         th:each="post:*{posts}">
                        <a class="card-body text-decoration-none"
                           th:href="@{/community/__${post.id}__}">
                            <div class="row">
                                <div class="col-md-8">
                                    
                                    <!-- 제목 -->
                                    <p class="card-title fs-4 fw-bolder pt-1 text-truncate"
                                       style="max-width: 100%;"
                                       th:text="${post.title}">
                                        게시글 제목
                                    </p>
                                    
                                    <!-- 태그 -->
                                    <span class="badge bg-secondary me-1"
                                          th:each="tag:${post.tags}"
                                          th:text="${tag.name}">
                                        태그명
                                    </span>
                                    
                                    <!-- 카테고리 -->
                                    <div class="d-flex align-items-center flex-wrap pt-5">
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-journal-text text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.categoryName}">
                                                자유
                                            </div>
                                        </div>
                                        
                                        <!-- 댓글수-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-chat-dots text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted "
                                                 th:text="${post.answerCount}">
                                                0
                                            </div>
                                        </div>
                                        
                                        <!-- 좋아요수 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-heart-fill text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.likes}">
                                                0
                                            </div>
                                        </div>
                                        
                                        <!-- 조회수-->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-eye text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.views}">
                                                0
                                            </div>
                                        </div>
                                        
                                        <!-- 작성자 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-person text-muted me-1">
                                            </i>
                                            <div class="col-auto small text-muted"
                                                 th:text="${post.anonymous ? '익명' : post.authorNickname}">
                                                작성자
                                            </div>
                                        </div>
                                        
                                        <!-- 작성시간 -->
                                        <div class="d-flex align-items-center me-2">
                                            <i class="bi bi-clock text-muted me-1">
                                            </i>
                                            <div class="timeago col-auto small text-muted"
                                                 th:data-date="${post.createdAt}">
                                                1시간 전
                                            </div>
                                        </div>
                                        
                                        <!-- 수정여부 -->
                                        <div class="d-flex align-items-center me-2"
                                             th:if="${post.modifiedAt}">
                                            <i class="bi bi-pencil text-muted me-1">
                                            </i>
                                            <span class="col-auto small text-muted">
                                                수정됨
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <!-- 페이지 네이션-->
                    <nav aria-label="Pagination">
                        <hr class="my-0"/>
                        <ul class="pagination justify-content-center my-4">
                            <li>
                                <a class="btn btn-primary text-sm-center"
                                   th:if="${page.currentPage > 1}"
                                   th:onclick="updatePage([[${page.currentPage - 1}]]); return false">
                                    이전 페이지
                                </a>
                                <button disabled
                                        class="btn btn-primary text-sm-center"
                                        th:unless="${page.currentPage > 1}">
                                    이전 페이지
                                </button>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <input type="text"
                                           onkeyup="if(event.key === 'Enter') updatePage(this.value)"
                                           onblur="updatePage(this.value)"
                                           class="form-control"
                                           style="max-width: 60px;"
                                           th:value="${page.currentPage}"
                                           th:min="1"
                                           th:max="${page.totalPage}">
                                    <span class="text-muted ms-2"
                                          th:text="| / ${page.totalPage}|"></span>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-primary text-sm-center"
                                   th:if="${page.currentPage < page.totalPage}"
                                   th:onclick="updatePage([[${page.currentPage + 1}]]); return false;">
                                    다음 페이지
                                </a>
                                <button disabled
                                        class="btn btn-primary text-sm-center"
                                        th:unless="${page.currentPage < page.totalPage}">
                                    다음 페이지
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <!-- 사이드 위젯 -->
                <div class="col-lg-4">
                    
                    <!-- 검색 위젯 -->
                    <div class="card mb-4">
                        <div class="card-header">
                            검색
                        </div>
                        <div class="card-body sticky-top">
                            <form method="GET"
                                  th:action="@{/communities}">
                                
                                <!-- 검색 기본 페이지는 1 -->
                                <input type="hidden"
                                       name="page"
                                       value="1"/>
                                
                                <div class="input-group ">
                                    
                                    <!-- 제목/글쓴이 검색방식 -->
                                    <select id="search-select"
                                            name="searchType"
                                            class="form-select"
                                            style="max-width: 80px;">
                                        <option value="title"
                                                th:selected="${param.searchType != null && param.searchType[0].equals('title') }">
                                            제목
                                        </option>
                                        <option value="author"
                                                th:selected="${param.searchType != null && param.searchType[0].equals('author')}">
                                            글쓴이
                                        </option>
                                    </select>
                                    
                                    <!-- 검색창 -->
                                    <input name="searchKeyword"
                                           class="form-control"
                                           type="text"
                                           placeholder="검색어를 입력하세요."
                                           th:value="${param.searchKeyword}"/>
                                    <button class="btn btn-primary"
                                            type="submit">
                                        <i class="bi bi-search">
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <!-- 정렬 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">
                            정렬
                        </div>
                        <div class="card-body">
                            <form method="GET">
                                <input type="hidden"
                                       name="page"
                                       value="1"/>
                                <div class="d-flex flex-column">
                                    <select class="form-select"
                                            name="sortType"
                                            onchange="this.form.submit()"
                                            th:with="currentSortType=${param.sortType != null ? param.sortType[0] : 'recent'}">
                                        <option value="recent"
                                                th:selected="${currentSortType == 'recent'}">
                                            최신순
                                        </option>
                                        <option value="views"
                                                th:selected="${currentSortType == 'views'}">
                                            조회수 많은 순
                                        </option>
                                        <option value="answers"
                                                th:selected="${currentSortType == 'answers'}">
                                            댓글 많은 순
                                        </option>
                                        <option value="likes"
                                                th:selected="${currentSortType == 'likes'}">
                                            좋아요 많은 순
                                        </option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <!-- 카테고리 위젯 -->
                    <div class="card mb-4">
                        <div class="card-header">
                            카테고리
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0"
                                        th:each="category:*{categories}">
                                        <li>
                                            <a id="filter-select"
                                               class="btn btn-link p-0 text-decoration-none"
                                               type="button"
                                               th:value="${category.id}"
                                               th:text="${category.name}"
                                               th:href="@{/communities(page=1,filterType='CATEGORY',filterValue=${category.id})}">
                                                카테고리 이름
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 사이드 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">사이드 위젯</div>
                        <div class="card-body">
                            이후 기능 추가...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 네비게이션 javascript -->
        <script th:replace="~{/layout/nav :: default-nav-scripts}"></script>
        <script src="/js/list-layout.js"></script>
    </body>
</html>
