<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.csolved.csolved.domain.category.mapper.CategoryMapper">
    <select id="getAll">
        select id, name, created_at
        from category
        where deleted_at is null
          and post_type = #{postType};
    </select>
</mapper>