<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.babel.babel.domain.answer.mapper.AnswerMapper">
    <insert id="saveAnswer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO answers(post_id,
                            author_id,
                            anonymous,
                            content,
                            created_at)
        VALUES (#{postId},
                #{authorId},
                #{anonymous},
                #{content},
                #{createdAt});
    </insert>

    <select id="getAnswers">
        SELECT a.id,
               u.id            author_id,
               u.profile_image author_profile_image,
               u.nickname      author_nickname,
               a.anonymous,
               a.content,
               a.created_at
        FROM answers a
                 LEFT JOIN users u ON u.id = a.author_id
        WHERE post_id = #{postId};
    </select>

    <select id="getAnswer">
        SELECT a.*,
               u.id       author_id,
               u.nickname author_nickname
        FROM answers a
                 LEFT JOIN users u ON u.id = a.author_id
        WHERE a.id = #{answerId};
    </select>

    <update id="increaseAnswerCount">
        update posts
        set answer_count = answer_count + 1
        where id = #{questionId};
    </update>

    <update id="decreaseAnswerCount">
        update posts
        set answer_count = answer_count - 1
        where id = #{questionId};
    </update>

    <select id="existComments">
        select exists(select 1
                      from comments
                      where answer_id = #{answerId})
    </select>


    <update id="deleteAnswer">
        UPDATE answers
        SET content    = '[삭제된 답변입니다.]',
            deleted_at = CURRENT_TIMESTAMP
        WHERE id = #{answerId}
    </update>

    <delete id="hardDelete">
        DELETE
        FROM answers
        WHERE id = #{answerId}
    </delete>
</mapper>