<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.babel.babel.domain.post.mapper.PopularPostMapper">
    <resultMap id="postSummaryMap" type="store.babel.babel.domain.post.dto.PostSummary">
        <id property="postId" column="id"/>
        <result property="title" column="title"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="createdAt" column="created_at"/>
        <result property="answerCount" column="answer_count"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

    <select id="countBestByPeriod">
        SELECT COUNT(p.id)
        FROM posts p
        WHERE p.deleted_at IS NULL
        <if test="periodType.days > 0">
            AND p.created_at >= DATE_SUB(NOW(), INTERVAL #{periodType.days} DAY)
        </if>
    </select>

    <select id="getBestByPeriod" resultMap="postSummaryMap">
        SELECT p.id id,
        p.title title,
        p.views views,
        p.likes likes,
        p.answer_count answer_count,
        p.created_at created_at,
        p.category_id category_id,
        (p.views * 0.1) + (p.answer_count * 0.5) + (likes * 1.0) popularity
        FROM posts p
        WHERE p.deleted_at IS NULL
        <if test="periodType.days > 0">
            AND p.created_at >= DATE_SUB(NOW(), INTERVAL #{periodType.days} DAY)
        </if>
        ORDER BY popularity DESC
        LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="getMostLiked" resultMap="postSummaryMap">
        SELECT p.id id,
        p.title title,
        p.views views,
        p.likes likes,
        p.answer_count answer_count,
        p.created_at created_at,
        p.category_id category_id
        FROM posts p
        WHERE p.deleted_at IS NULL
        <if test="periodType.days > 0">
            AND p.created_at >= DATE_SUB(NOW(), INTERVAL #{periodType.days} DAY)
        </if>
        ORDER BY likes DESC
        LIMIT #{limit};
    </select>

    <select id="getMostViewed" resultMap="postSummaryMap">
        SELECT p.id id,
        p.title title,
        p.views views,
        p.likes likes,
        p.answer_count answer_count,
        p.created_at created_at,
        p.category_id category_id
        FROM posts p
        WHERE p.deleted_at IS NULL
        <if test="periodType.days > 0">
            AND p.created_at >= DATE_SUB(NOW(), INTERVAL #{periodType.days} DAY)
        </if>
        ORDER BY views DESC
        LIMIT #{limit};
    </select>

    <select id="getMostAnswered" resultMap="postSummaryMap">
        SELECT p.id id,
        p.title title,
        p.views views,
        p.likes likes,
        p.answer_count answer_count,
        p.created_at created_at,
        p.category_id category_id
        FROM posts p
        WHERE p.deleted_at IS NULL
        <if test="periodType.days > 0">
            AND p.created_at >= DATE_SUB(NOW(), INTERVAL #{periodType.days} DAY)
        </if>
        ORDER BY answer_count DESC
        LIMIT #{limit};

    </select>
</mapper>