<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.babel.babel.domain.post.mapper.PostMapper">

    <resultMap id="postResultMap" type="store.babel.babel.domain.post.dto.Post">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="authorId" column="author_id"/>
        <result property="authorNickname" column="author_nickname"/>
        <result property="anonymous" column="anonymous"/>
        <result property="content" column="content"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="answerCount" column="answer_count"/>
        <result property="bookmarked" column="bookmarked"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <collection property="tags" ofType="store.babel.babel.domain.tag.Tag">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
        </collection>
    </resultMap>

    <resultMap id="postCardResultMap" type="store.babel.babel.domain.post.dto.PostCard">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="authorId" column="author_id"/>
        <result property="authorNickname" column="author_nickname"/>
        <result property="anonymous" column="anonymous"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="answerCount" column="answer_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <collection property="tags" ofType="store.babel.babel.domain.tag.Tag">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
        </collection>
    </resultMap>

    <insert id="savePost"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO POSTS(post_type,
                          user_id,
                          anonymous,
                          title,
                          content,
                          category_id)
        VALUES (#{postType},
                #{authorId},
                #{anonymous},
                #{title},
                #{content},
                #{categoryId});
    </insert>

    <update id="updatePost">
        UPDATE POSTS
        SET anonymous   = #{anonymous},
            title       = #{title},
            content     = #{content},
            category_id = #{categoryId},
            modified_at = current_timestamp
        WHERE id = #{id};
    </update>

    <update id="deletePost">
        UPDATE POSTS
        SET deleted_at = current_timestamp
        WHERE id = #{id};
    </update>

    <select id="getPost" resultMap="postResultMap">
        SELECT p.id                                   id,
               p.title                                title,
               p.anonymous                            anonymous,
               p.content                              content,
               p.views                                views,
               p.likes                                likes,
               p.answer_count                         answer_count,
               p.created_at                           created_at,
               p.modified_at                          modified_at,
               u.id                                   author_id,
               u.nickname                             author_nickname,
               c.id                                   category_id,
               c.name                                 category_name,
               t.id                                   tag_id,
               t.name                                 tag_name,
               EXISTS(SELECT 1
                      FROM bookmarks b
                      WHERE b.post_id = p.id
                        AND b.user_id = #{userId}) AS bookmarked
        FROM POSTS p
                 LEFT JOIN users u ON p.user_id = u.id
                 LEFT JOIN category c ON p.category_id = c.id
                 LEFT JOIN post_tags pt ON p.id = pt.post_id
                 LEFT JOIN tags t ON t.id = pt.tag_id
        WHERE p.id = #{postId};
    </select>

    <select id="getPostCards" resultMap="postCardResultMap">
        SELECT
        sub.post_id id,
        sub.title title,
        sub.anonymous anonymous,
        sub.author_id author_id,
        sub.author_nickname author_nickname,
        sub.views views,
        sub.likes likes,
        sub.answer_count answer_count,
        sub.created_at created_at,
        sub.modified_at modified_at,
        c.id category_id,
        c.name category_name,
        t.id tag_id,
        t.name tag_name
        FROM (
        SELECT
        p.id post_id,
        p.title title,
        p.anonymous anonymous,
        p.user_id author_id,
        u.nickname author_nickname,
        p.content content,
        p.category_id category_id,
        p.views views,
        p.likes likes,
        p.answer_count answer_count,
        p.created_at created_at,
        p.modified_at modified_at
        FROM posts p
        LEFT JOIN users u on u.id = p.user_id
        WHERE p.deleted_at IS NULL
        AND p.post_type = #{query.postType}
        <if test="query.filterType == 'CATEGORY' and query.filterValue != null and query.filterValue != 0">
            AND p.category_id = #{query.filterValue}
        </if>
        <if test="query.searchType == 'TITLE' and query.searchKeyword != null and query.searchKeyword != ''">
            AND p.title LIKE concat('%', #{query.searchKeyword}, '%')
        </if>
        <if test="query.searchType == 'AUTHOR' and query.searchKeyword != null and query.searchKeyword != ''">
            AND u.nickname LIKE concat('%',#{query.searchKeyword},'%')
            AND p.anonymous = FALSE
        </if>
        ORDER BY
        <choose>
            <when test="query.sortType == 'RECENT'">p.created_at DESC</when>
            <when test="query.sortType == 'VIEWS'">p.views DESC</when>
            <when test="query.sortType == 'LIKES'">p.likes DESC</when>
            <when test="query.sortType == 'ANSWERS'">p.answer_count DESC</when>
            <otherwise>p.created_at DESC</otherwise>
        </choose>
        LIMIT #{page.offset}, #{page.size}
        ) sub
        LEFT JOIN category c ON c.id = sub.category_id
        LEFT JOIN post_tags pt ON pt.post_id = sub.post_id
        LEFT JOIN tags t ON t.id = pt.tag_id;
    </select>

    <select id="countPosts">
        SELECT count(p.id)
        FROM posts p
        LEFT JOIN category c ON p.category_id = c.id
        LEFT JOIN users u ON p.user_id = u.id
        WHERE p.deleted_at IS NULL AND p.post_type = #{postType}
        <choose>
            <when test="#{filterType} == 'CATEGORY' and #{filterValue} != null and #{filterValue} != 0">
                AND p.category_id = #{filterValue}
            </when>
        </choose>
        <choose>
            <when test="#{searchType} == 'TITLE' and #{searchKeyword} != null and #{searchKeyword} != ''">
                AND p.title LIKE concat('%', #{searchKeyword}, '%')
            </when>
            <when test="#{searchType} == 'AUTHOR' and #{searchKeyword} != null and #{searchKeyword} != ''">
                AND u.nickname LIKE concat('%',#{searchKeyword},'%')
                AND p.anonymous IS FALSE
            </when>
        </choose>
    </select>

    <select id="hasUserLiked">
        select exists(select 1
                      from post_likes
                      where user_id = #{authorId}
                        and post_id = #{communityId});
    </select>

    <update id="increaseLikes">
        update posts
        set likes = likes + 1
        where id = #{communityId};
    </update>

    <insert id="addUserLike">
        insert into post_likes(post_id, user_id)
        values (#{communityId}, #{authorId});
    </insert>

    <update id="increaseView">
        update posts
        set views = views + 1
        where id = #{communityId};
    </update>

    <select id="getAnsweredPosts" resultMap="postCardResultMap">
        SELECT p.id           id,
               p.post_type    post_type,
               p.id           post_id,
               p.title        title,
               p.anonymous    anonymous,
               p.user_id      author_id,
               u.nickname     author_nickname,
               c.id           category_id,
               c.name         category_name,
               p.views        views,
               p.likes        likes,
               p.answer_count answer_count,
               t.id           tag_id,
               t.name         tag_name
        FROM (SELECT DISTINCT post_id
              FROM ((SELECT a.post_id
                     FROM answers a
                     WHERE author_id = #{userId}
                       AND deleted_at IS NULL)
                    UNION
                    (SELECT c.post_id
                     FROM comments c
                     WHERE author_id = #{userId}
                       AND deleted_at IS NULL)) AS user_activities
              ORDER BY post_id
              LIMIT #{page.offset}, #{page.size}) AS paginated_posts
                 JOIN posts p ON p.id = paginated_posts.post_id
                 JOIN users u ON u.id = p.user_id
                 JOIN category c ON c.id = p.category_id
                 LEFT JOIN post_tags pt ON pt.post_id = p.id
                 LEFT JOIN tags t ON t.id = pt.tag_id;
    </select>

    <select id="countAnsweredPosts">
        SELECT COUNT(*)
        FROM ((SELECT a.post_id
               FROM answers a
               WHERE author_id = #{userId}
                 AND deleted_at IS NULL)
              UNION
              (SELECT c.post_id
               FROM comments c
               WHERE author_id = #{userId}
                 AND deleted_at IS NULL)) reply_count;
    </select>

    <select id="getUserPosts" resultMap="postCardResultMap">
        SELECT up.id           id,
               up.post_type    post_type,
               up.id           post_id,
               up.title        title,
               up.anonymous    anonymous,
               up.author_id    author_id,
               u.nickname      author_nickname,
               up.category_id  category_id,
               c.name          category_name,
               up.views        views,
               up.likes        likes,
               up.answer_count answer_count,
               t.id            tag_id,
               t.name          tag_name
        from (select p.id           id,
                     p.post_type    post_type,
                     p.title        title,
                     p.anonymous    anonymous,
                     p.user_id      author_id,
                     p.category_id  category_id,
                     p.views        views,
                     p.likes        likes,
                     p.answer_count answer_count
              from posts p
              where p.user_id = #{userId}
                and p.deleted_at is null
              limit #{page.offset}, #{page.size}) up
                 left join users u on up.author_id = u.id
                 left join category c on up.category_id = c.id
                 left join post_tags pt on pt.post_id = up.id
                 left join tags t on t.id = pt.tag_id
        order by up.id desc;
    </select>

    <select id="countUserPosts">
        select count(p.id)
        from posts p
        where p.user_id = #{userId}
          and deleted_at is null;
    </select>

    <select id="getBookmarkedPosts" resultMap="postCardResultMap">
        select sub.id         id,
               sub.post_id    post_id,
               p.post_type    post_type,
               p.title        title,
               p.anonymous    anonymous,
               sub.author_id  author_id,
               u.nickname     author_nickname,
               c.id           category_id,
               c.name         category_name,
               p.views        views,
               p.likes        likes,
               p.answer_count answer_count,
               t.id           tag_id,
               t.name         tag_name
        from (select b.id      id,
                     b.post_id post_id,
                     b.user_id author_id
              from bookmarks b
              where b.user_id = #{userId}
              order by b.created_at desc
              limit #{page.offset}, #{page.size}) sub
                 left join posts p on p.id = sub.post_id
                 left join users u on u.id = sub.author_id
                 left join category c on c.id = p.category_id
                 left join post_tags pt on p.id = pt.post_id
                 left join tags t on pt.tag_id = t.id;
    </select>
</mapper>