<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.csolved.csolved.domain.community.mapper.CommunityMapper">

    <resultMap id="communityResultMap" type="store.csolved.csolved.domain.community.mapper.record.CommunityRecord">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="authorId" column="author_id"/>
        <result property="authorNickname" column="author_nickname"/>
        <result property="anonymous" column="anonymous"/>
        <result property="content" column="content"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="answerCount" column="answer_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <collection property="tags" ofType="store.csolved.csolved.domain.tag.Tag">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
        </collection>
    </resultMap>

    <insert id="saveCommunity"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO POSTS(post_type,
                          user_id,
                          anonymous,
                          title,
                          content,
                          category_id)
        VALUES (#{param.postType},
                #{param.authorId},
                #{param.anonymous},
                #{param.title},
                #{param.content},
                #{param.categoryId});
    </insert>

    <update id="updateCommunity">
        UPDATE POSTS
        SET anonymous   = #{param.anonymous},
            title       = #{param.title},
            content     = #{param.content},
            category_id = #{param.categoryId},
            modified_at = current_timestamp
        WHERE id = #{communityId};
    </update>

    <update id="deleteCommunity">
        UPDATE POSTS
        SET deleted_at = current_timestamp
        WHERE id = #{communityId};
    </update>

    <select id="getCommunity" resultMap="communityResultMap">
        SELECT p.id           id,
               p.title        title,
               p.anonymous    anonymous,
               p.content      content,
               p.views        views,
               p.likes        likes,
               p.answer_count answer_count,
               p.created_at   created_at,
               p.modified_at  modified_at,
               u.id           author_id,
               u.nickname     author_nickname,
               c.id           category_id,
               c.name         category_name,
               t.id           tag_id,
               t.name         tag_name
        FROM POSTS p
                 left join users u on p.user_id = u.id
                 left join category c on p.category_id = c.id
                 left join post_tags pt on p.id = pt.post_id
                 left join tags t on t.id = pt.tag_id
        WHERE p.id = #{communityId};
    </select>

    <select id="getCommunities" resultMap="communityResultMap">
        SELECT
        sub.post_id id,
        sub.title title,
        sub.anonymous anonymous,
        sub.author_id author_id,
        sub.author_nickname author_nickname,
        sub.content content,
        sub.views views,
        sub.likes likes,
        sub.answer_count answer_count,
        sub.created_at created_at,
        sub.modified_at modified_at,
        c.id category_id,
        c.name category_name,
        t.id tag_id,
        t.name tag_name
        FROM (
        SELECT
        p.id post_id,
        p.title title,
        p.anonymous anonymous,
        p.user_id author_id,
        u.nickname author_nickname,
        p.content content,
        p.category_id category_id,
        p.views views,
        p.likes likes,
        p.answer_count answer_count,
        p.created_at created_at,
        p.modified_at modified_at
        FROM posts p
        LEFT JOIN users u on u.id = p.user_id
        WHERE p.deleted_at IS NULL
        AND p.post_type = #{param.postType}
        <if test="param.filterType == 'CATEGORY' and param.filterValue != null and param.filterValue != 0">
            AND p.category_id = #{param.filterValue}
        </if>
        <if test="param.searchType == 'TITLE' and param.searchKeyword != null and param.searchKeyword != ''">
            AND p.title LIKE concat('%', #{param.searchKeyword}, '%')
        </if>
        <if test="param.searchType == 'AUTHOR' and param.searchKeyword != null and param.searchKeyword != ''">
            AND u.nickname LIKE concat('%',#{param.searchKeyword},'%')
            AND p.anonymous = FALSE
        </if>
        ORDER BY
        <choose>
            <when test="param.sortType == 'RECENT'">p.created_at DESC</when>
            <when test="param.sortType == 'VIEWS'">p.views DESC</when>
            <when test="param.sortType == 'LIKES'">p.likes DESC</when>
            <when test="param.sortType == 'ANSWERS'">p.answer_count DESC</when>
            <otherwise>p.created_at DESC</otherwise>
        </choose>
        LIMIT #{param.pageOffset}, #{param.pageSize}
        ) sub
        LEFT JOIN category c ON c.id = sub.category_id
        LEFT JOIN post_tags pt ON pt.post_id = sub.post_id
        LEFT JOIN tags t ON t.id = pt.tag_id;
    </select>

    <select id="countCommunities">
        SELECT count(p.id)
        FROM posts p
        LEFT JOIN category c ON p.category_id = c.id
        LEFT JOIN users u ON p.user_id = u.id
        WHERE p.deleted_at IS NULL AND p.post_type = #{param.postType}
        <if test="param.filterType == 'CATEGORY' and param.filterValue != null and param.filterValue != 0">
            AND p.category_id = #{param.filterValue}
        </if>
        <choose>
            <when test="param.searchType == 'TITLE' and param.searchKeyword != null and param.searchKeyword != ''">
                AND p.title LIKE concat('%', #{param.searchKeyword}, '%')
            </when>
            <when test="param.searchType == 'AUTHOR' and param.searchKeyword != null and param.searchKeyword != ''">
                AND u.nickname LIKE concat('%',#{param.searchKeyword},'%')
                AND p.anonymous IS FALSE
            </when>
        </choose>
    </select>

    <select id="hasUserLiked">
        select exists(select 1
                      from post_likes
                      where user_id = #{authorId}
                        and post_id = #{communityId});
    </select>

    <update id="increaseLikes">
        update posts
        set likes = likes + 1
        where id = #{communityId};
    </update>

    <insert id="addUserLike">
        insert into post_likes(post_id, user_id)
        values (#{communityId}, #{authorId});
    </insert>

    <update id="increaseView">
        update posts
        set views = views + 1
        where id = #{communityId};
    </update>
</mapper>