<!DOCTYPE html>
<html th:replace="~{/layout/default-layout::default-layout(user=${user}, title=~{::title}, content=~{::body})}">
    <head>
        <title>
            상세 게시글
        </title>
    </head>
    <body>
        <div class="container mt-5"
             th:with="post=${noticeDetails.post},
                      answers=${noticeDetails.answers}">
            
            <!-- 좋아요 중복 시 알림 모달 -->
            <div th:insert="~{/fragments/common/modal::alert-modal('addLikeConflictModal', '알림', '좋아요는 게시글당 한번만 누를 수 있습니다.','확인')}"></div>
            <!-- 게시글 삭제 경고 모달 -->
            <div th:insert="~{/fragments/common/modal::danger-modal('postDeleteConfirmModal', '게시글 삭제', '정말 삭제하시겠습니까?', '취소', '삭제', |deletePost('notice','notices',${post.id})|)}"></div>
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body post-content-container">
                            <!-- 포스트 헤더 -->
                            <div class="mb-4">
                                <!-- 제목-->
                                <h3 class="fw-bolder mb-2"
                                    th:text="${post.title}">
                                    게시글 제목
                                </h3>
                                
                                <!--태그-->
                                <span class="badge bg-secondary text-decoration-none link-light me-1 mb-2">
                                    공지사항
                                </span>
                                
                                <div class="mb-2">
                                    <!-- 글쓴이 -->
                                    <div class="me-2 d-inline-flex">
                                        <i class="bi bi-person text-muted"></i>
                                        <span class="text-muted fst-italic me-2"
                                              th:text="${post.anonymous ? '관리자' : post.authorNickname}">
                                            글쓴이
                                        </span>
                                    </div>
                                    
                                    <!-- 조회수 -->
                                    <div class="me-2 d-inline-flex">
                                        <i class="bi bi-eye text-muted"></i>
                                        <span class="text-muted fst-italic me-2"
                                              th:text="${post.views}">
                                            조회수
                                        </span>
                                    </div>
                                    
                                    <!-- 작성시간 -->
                                    <div class="me-2 d-inline-flex">
                                        <i class="bi bi-clock text-muted"></i>
                                        <span class="timeago text-muted fst-italic me-2"
                                              th:data-date="${post.createdAt}">
                                            1시간 전
                                        </span>
                                    </div>
                                    
                                    <!-- 수정여부 -->
                                    <div class="me-2 d-inline-flex"
                                         th:if="${post.modifiedAt}">
                                        <i class="bi bi-pencil text-muted"></i>
                                        <span class="text-muted fst-italic me-2">
                                            수정됨
                                        </span>
                                    </div>
                                    
                                    <!-- 수정/삭제 -->
                                    <div class="me-2 d-inline-flex">
                                        <a class="btn btn-outline-primary btn-xs me-2"
                                           th:if="${post.authorId == user.id}"
                                           th:href="@{/notice/__${post.id}__/updateForm}">
                                            수정
                                        </a>
                                        
                                        <button class="btn btn-outline-danger btn-xs"
                                                th:if="${post.authorId == user.id}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#postDeleteConfirmModal">
                                            삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 내용 -->
                            <div class="mb-5">
                                <p class="fs-5 mb-4"
                                   th:utext="${post.content}">
                                    게시글 내용
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 좋아요 버튼 -->
                    <button class="btn btn-danger mb-4"
                            id="like-button"
                            th:onclick="|addLike('notice',${post.id})|">
                        <i class="bi bi-heart"></i>
                        좋아요
                        <span id="like-count"
                              class="ms-1"
                              th:text="${post.likes}">
                            0
                        </span>
                    </button>
                    
                    <!-- 답변 폼 버튼 -->
                    <button class="btn btn-primary mb-4"
                            id="toggle-answer-form">
                        <i class="bi bi-chat-left-text-fill"></i>
                        답변 달기
                    </button>
                    
                    <!-- 댓글작성 폼 -->
                    <div class="card mb-4 d-none"
                         id="answer-form-card">
                        <div class="card-body"
                             th:object="${answerCreateForm}">
                            <form id="answer-form"
                                  class="d-flex flex-column align-items-end"
                                  method="POST"
                                  th:action="@{/notice/__${post.id}__/answers}">
                                
                                <!-- 댓쓴이 아이디 -->
                                <input type="hidden"
                                       name="authorId"
                                       th:value="${user.id}"/>
                                
                                <!-- 댓글 내용 -->
                                <textarea id="medium-editor"
                                          class="medium-editor form-control mb-3"
                                          rows="3"
                                          placeholder="댓글을 달아 생각을 공유해 주세요!"
                                          th:field="*{content}"
                                          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''">
                                </textarea>
                                
                                <!-- 댓글 오류 메시지-->
                                <div class="text-danger"
                                     th:if="${#fields.hasErrors('content')}"
                                     th:errors="*{content}">
                                </div>
                                
                                <div class="d-flex justify-content-between align-items-center w-100 mb-2 mt-3">
                                    
                                    <!-- 익명/실명 -->
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="answer-anonymous"
                                               th:field="*{anonymous}">
                                        <label class="form-check-label"
                                               for="answer-anonymous">
                                            익명으로 댓글 달기
                                        </label>
                                    </div>
                                    
                                    <!-- 등록 버튼 -->
                                    <button type="submit"
                                            class="btn btn-primary">
                                        등록
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <!-- 댓글 리스트 -->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                
                                <!--댓글이 없는 경우, 댓글 작성 안내 메시지 보여주기 -->
                                <div th:if="${#lists.isEmpty(answers)}">
                                    <p class="text-muted">
                                        댓글이 비어있습니다. 첫 번째 댓글을 작성해보세요!
                                    </p>
                                </div>
                                
                                <!-- 댓글이 있는 경우, 댓글 리스트 보여주기 -->
                                <div class="d-flex mb-4"
                                     th:each="answer:${answers}">
                                    
                                    <!-- 댓쓴이 프로필 이미지-->
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle img-fluid"
                                             style="width: 40px; height: 40px;"
                                             th:src="${answer.anonymous ? '/assets/anonymous.jpg' : answer.authorProfileImage}"
                                             alt="..."/>
                                    </div>
                                    
                                    <!-- 댓글 정보 -->
                                    <div class="ms-3"
                                         style="width: 90%;">
                                        <div class="block">
                                            
                                            <!-- 댓쓴이 닉네임 -->
                                            <span class="fw-bold"
                                                  th:text="${answer.anonymous} ? '익명' : ${answer.authorNickname}">
                                                댓쓴이
                                            </span>
                                            
                                            <!-- 댓글 작성시간-->
                                            <span class="timeago text-muted fst-italic ms-1"
                                                  th:data-date="${answer.createdAt}">
                                                1시간 전
                                            </span>
                                            
                                            <!-- 댓글 삭제 버튼-->
                                            <span class="ms-2">
                                                <button class="btn btn-outline-danger btn-xs"
                                                        data-bs-toggle="modal"
                                                        th:if="${answer.authorId == user.id}"
                                                        th:data-bs-target="${'#answerDeleteConfirmModal' + answer.id}">
                                                    삭제
                                                </button>
                                                
                                                <!-- 댓글 삭제 경고 모달 -->
                                                <div th:replace="~{/fragments/common/modal::danger-modal(|answerDeleteConfirmModal${answer.id}|, '답변 삭제', '정말 삭제하시겠습니까?', '취소','삭제', |deleteAnswer(${answer.id})|)}"></div>
                                            </span>
                                        </div>
                                        
                                        <!-- 댓글 내용-->
                                        <span class="mb-3"
                                              style="display: block"
                                              th:utext="${answer.content}">
                                            댓글 내용
                                        </span>
                                        
                                        <!-- 대댓글 작성 버튼 -->
                                        <span class="text-primary mt-2 toggle-comment-form"
                                              style="cursor: pointer; display: inline;">
                                            댓글 쓰기
                                        </span>
                                        
                                        <!-- 대댓글 작성 폼 -->
                                        <div class="card mt-2 d-none comment-form"
                                             style="width: 100%;">
                                            <div class="card-body">
                                                <form class="d-flex flex-column align-items-end"
                                                      method="POST"
                                                      th:action="@{/notice/__${post.id}__/answers/__${answer.id}__/comment}"
                                                      th:object="${commentCreateForm}">
                                                    
                                                    <!-- 게시글 아이디 -->
                                                    <input type="hidden"
                                                           th:name="postId"
                                                           th:value="${post.id}"/>
                                                    
                                                    <!-- 댓글 아이디 -->
                                                    <input type="hidden"
                                                           th:name="answerId"
                                                           th:value="${answer.id}"/>
                                                    
                                                    <!-- 대댓쓴이 아이디 -->
                                                    <input type="hidden"
                                                           th:name="authorId"
                                                           th:value="${user.id}"/>
                                                    
                                                    <!-- 대댓글 내용 -->
                                                    <textarea class="small-editor form-control mb-3"
                                                              rows="3"
                                                              style="width: 100%;"
                                                              placeholder="답변에 대한 댓글을 작성하세요!"
                                                              th:id="|small-editor${answer.id}|"
                                                              th:field="*{content}"
                                                              th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''">
                                                    </textarea>
                                                    
                                                    <!-- 대댓글 에러 메시지 -->
                                                    <div class="text-danger"
                                                         th:if="${#fields.hasErrors()}"
                                                         th:errors="*{content}">
                                                    </div>
                                                    
                                                    <div class="d-flex justify-content-between align-items-center w-100 mb-2 mt-3">
                                                        <div class="form-check">
                                                            
                                                            <!-- 익명/실명 -->
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   id="anonymous-checkbox-${answer.id}"
                                                                   th:field="*{anonymous}">
                                                            <label class="form-check-label"
                                                                   for="anonymous-checkbox-${answer.id}">
                                                                익명으로 댓글 달기
                                                            </label>
                                                        </div>
                                                        
                                                        <!-- 대댓글 등록버튼-->
                                                        <button type="submit"
                                                                class="btn btn-primary">
                                                            등록
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        
                                        <!-- 답변에 대한 댓글 -->
                                        <div th:each="comment:${answer.comments}">
                                            
                                            <!-- 대댓글 삭제 경고 모달-->
                                            <div th:insert="~{/fragments/common/modal::danger-modal(|commentDeleteConfirmModal${comment.id}|, '댓글 삭제', '정말 삭제하시겠습니까?', '취소', '삭제', |deleteComment(${comment.id})|)}"></div>
                                            
                                            <div class="d-flex mt-4">
                                                
                                                <!-- 대댓쓴이 프로필 이미지 -->
                                                <div class="flex-shrink-0">
                                                    <img class="rounded-circle img-fluid"
                                                         style="max-width: 40px; max-height: 40px;"
                                                         th:src="${comment.anonymous ? '/assets/anonymous.jpg' : comment.authorProfileImage}"
                                                         alt="..."/>
                                                </div>
                                                
                                                <!--대댓글 메타정보 -->
                                                <div class="ms-3">
                                                    <div class="block">
                                                        <!-- 대댓쓴이 닉네임 -->
                                                        <span class="fw-bold"
                                                              th:text="${comment.anonymous} ? '익명' : ${comment.authorNickname}">
                                                            대댓쓴이 닉네임
                                                        </span>
                                                        
                                                        <!-- 대댓글 작성시간 -->
                                                        <span class="timeago text-muted fst-italic ms-1"
                                                              th:data-date="${comment.createdAt}">
                                                            1시간 전
                                                         </span>
                                                        
                                                        <!-- 대댓글 삭제버튼 -->
                                                        <span class="ms-2">
                                                            <button class="btn btn-outline-danger btn-xs"
                                                                    data-bs-toggle="modal"
                                                                    th:if="${comment.authorId == user.id}"
                                                                    th:data-bs-target="${'#commentDeleteConfirmModal' + comment.id}">
                                                                삭제
                                                            </button>
                                                        </span>
                                                    </div>
                                                    
                                                    <!-- 대댓글 내용 -->
                                                    <span class="mb-3 block"
                                                          th:utext="${comment.content}">
                                                        대댓글 내용
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <!-- 사이드 위젯 -->
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            검색
                        </div>
                        <div class="card-body sticky-top">
                            <form method="get"
                                  action="/notices">
                                <input type="hidden"
                                       name="page"
                                       value="1"/>
                                <div class="input-group ">
                                    <select class="form-select"
                                            name="searchType"
                                            style="max-width: 80px;">
                                        <option value="title">
                                            제목
                                        </option>
                                    </select>
                                    <input class="form-control"
                                           name="searchKeyword"
                                           type="text"
                                           placeholder="검색어를 입력하세요."/>
                                    <button class="btn btn-primary"
                                            type="submit">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 사이드 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">
                            사이드 위젯
                        </div>
                        <div class="card-body">
                            이후 기능 추가...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Timeago.js-->
        <script src="/js/timeago.js"></script>
    </body>
</html>
